[Unit]
Description=HackDocs Backend service

[Service]
Type=simple
User=nobody
WorkingDirectory=/home/HackDocsBot
ExecStart=/usr/bin/java -jar -Dspring.profiles.active=server /home/HackDocsBot/target/hackdocs-0.0.1.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target